# --- R Session & Workspace ---
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# --- R Package Build & Check Artifacts ---
*.Rcheck/
*.tar.gz
doc/
Meta/


# --- IDE & OS Files ---
.vscode/
.DS_Store
Thumbs.db


# --- Heavy Simulation Data & Scripts (Avoids GitHub 100MB File Limit) ---
inst/code/
precalculated_data/

# folders to ignore
data-raw/ALL_STUDIES.rds
inst/code
tests/
/doc/
/Meta/

# Optional: uncomment if NOT using GitHub Pages for pkgdown
docs

